:root {
  --poetry-orange-color-1: #936e49;
  --poetry-orange-color-2: #faf2e9;
  --poetry-white-color-1: #fefbf0;
}

body {
  font-family: 'Cairo';
  font-size: 2em;
  direction: rtl;
  line-height: 1.15em;
}

h3{
    font-weight: bold;
}


#nav-wallpaper {
  /* background: rgb(88,94,185);
    background: linear-gradient(125deg, rgba(88,94,185,1) 0%, rgba(34,46,91,1) 45%, rgba(28,55,130,1) 59%, rgba(75,164,156,1) 79%); */

  background: hsla(44, 64%, 60%, 1);
  background: linear-gradient(
    90deg,
    hsla(44, 64%, 60%, 1) 0%,
    #936e49 50%,
    #936e49 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(44, 64%, 60%, 1) 0%,
    #936e49 50%,
    #936e49 100%
  );
  background: -webkit-linear-gradient(90deg, #bd854e 0%, #c2966a 50%, #d39557 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#DAB757", endColorstr="#EE8454", GradientType=1 );
}

a {
  text-decoration: none;
}

#main-nav {
  color: #555;
  background-color: var(--poetry-orange-color-2);
  border-bottom: 1px solid #000;
  /* box-shadow: 2px 2px 10px #000; */
  padding: 20px;
  list-style-type: none;
}

#main-nav #left-nav {
  display: flex;
  /* flex: 1; */
}

#main-nav a {
  padding: 15px;
  border-radius: 13px;
  font-size: 24px;
  text-decoration: none;
  color: #555;
}

#main-nav a:hover {
  background-color: var(--poetry-white-color-1);
}

#app-icon-image {
  padding: 10px;
}

#app-icon-image img {
  width: 215px;
  height: 85px;
  border-radius: 15px;
}

#main-nav #left-nav #nav-website-name {
  padding: 10px;
}

#wallpaper-section.div {
  padding: 10px;
}

#wallpaper-section .col{
  border: 1px solid #000;
}

#wallpaper-section #screenshot {
  text-align: center;
  padding: 25px;
}

#wallpaper-section #screenshot img {
  height: auto;
  width: 45%;
  border: 0.9vh solid #333;
  border-top: 10px solid #111;
  border-bottom: 10px solid #111;
  border-radius: 25px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8);
}

#wallpaper-section #promotional-text {
  color: #f1f1f1;
  padding: 40px;
}

#wallpaper-section #intro-paragraph-1 {
  min-height: 200px;
  font-size: 75%;
}

#wallpaper-section #promotional-text .store-badge {
  height: 50px;
}

div#app-desc-section {
  padding: 10%;
  --bs-gutter-x: none;
}

div.row{
  --bs-gutter-x: none;
}

#app-desc-section .column{

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 0px 10px 20px;

}

#app-desc-section .column img{
  width: 80px;
}

#app-desc-section .column label{
  font-size: 80%;
  line-height: 2rem;
  margin-top: 15px;
}

#app-desc-start p {
  font-size: 65%;
}

#app-desc-end {
  height: 100%;
}

#app-desc-end .download-link-btn {
  border: 1px solid #3a8088;
  border-radius: 10px;
  transition-duration: 0.6s;
  padding: 15px;
  font-size: 20px;
  text-decoration: none;
  color: #3a8088;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

#app-desc-end .download-link-btn:hover {
  background-color: #3a8088;
  transition-duration: 0.3s;
  color: #fff;
}

#app-desc-end .row {
  list-style-type: none;
  padding: 0px;
}

#app-desc-end .row div.col{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#app-desc-end ul li img{

    margin: 25px;
}

#app-features-section {
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 65px;
  padding-bottom: 65px;
  color: #fff;
  background: hsla(44, 64%, 60%, 1);
  background: linear-gradient(
    270deg,
    hsla(44, 64%, 60%, 1) 0%,
    hsla(19, 82%, 63%, 1) 50%,
    hsla(19, 82%, 63%, 1) 100%
  );
  background: -moz-linear-gradient(
    270deg,
    hsla(44, 64%, 60%, 1) 0%,
    hsla(19, 82%, 63%, 1) 50%,
    hsla(19, 82%, 63%, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    hsla(44, 64%, 60%, 1) 0%,
    hsla(19, 82%, 63%, 1) 50%,
    hsla(19, 82%, 63%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#DAB757", endColorstr="#EE8454", GradientType=1 );
}

#app-features-section p {
  font-size: 20px;
}

#app-features-section div.row {
  font-size: 24px;
  list-style-type: none;
}

#app-features-section .row .column{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

#app-features-section .row .column img{
  width: 25%;
  margin-bottom: 20px;
}

#app-team-section {
  justify-content: center;
  padding: 50px;
  text-align: center;
}

#app-team-section ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 20px;
}

#app-team-section ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

#app-team-section ul img{
    width: 130px;
    height: 130px;
    border-radius: 200px;
    margin: 10px;
    border: 1px solid #555;

}

#app-team-section label{
  font-size: 18px;
  line-height: 1.15rem;
}

#contact-us-section{

    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-us-section label{
    font-weight: normal;
    font-size: 18px;
}

#footer-container {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  background-color: var(--poetry-orange-color-2);
  color: #555;
  padding: 5px;
  font-size: 18px;
  border-top: 1px solid #000;
}

#footer-sections a{
    color: #555;
}

#footer-sections a:hover{
    color: #999;
}

#footer-sections .footer-sec ul li {
  list-style-type: none;
  font-size: 20px;
}


#footer-sections #start-footer ul{
  display: flex;
}

#footer-sections #start-footer ul a{
  margin: 10px;
}

#footer-sections #center-footer {
    text-align: center;
    vertical-align: bottom;
}

#footer-sections #end-footer {
  text-align: center;
}

.nav-sub-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.store-badge-footer {
  height: 45px;
  margin: 10px;
}

#app-features-bottom {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
}

#privacy-policy-desc {
  white-space: pre-line;
}

.features label{
  background-color: #ddd;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  opacity: 0.6;
  color: #333;
  margin-bottom: 10px;
}

.features ul {
  display: flex;
  flex-direction: row;
  padding: 20px;
}


.features ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

